@using FlunteNhibernate_Test0910.Models
@model Persion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form method="post" action="/Home/Edit">
    <input type="hidden" name="Id" value="@Model.Id" />

    <label>Name:</label>
    <input type="text" name="Name" value="@Model.Name" />
    <br />
    <label>Age:</label>
    <input type="number" name="Age" value="@Model.Age" />
    <br />
    <input type="submit" value="submit" />
</form>

